.div-filters {
  color: rgb(218, 218, 29);
  padding: 5px;
}

.h1-filters {
  padding: 10px;
  color: rgb(218, 218, 29);
}

.search-input-filters {
  padding: 5px;
  margin-bottom: 5px;
  border: rgb(218, 218, 29) 1px solid;
  background-color: rgba(255, 255, 255, 0.692);
  border-radius: 10px;
  text-align: center;
  width: 30%;
  font-size: 15px;
}

.div-column-operation-number-btn-filter {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.select-filters {
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.692);
  border: none;
  border-radius: 5px;
}

.input-filters {
  padding: 2px;
  background-color:  rgba(255, 255, 255, 0.692);
  border: none;
  border-radius: 5px;
  height: 20px;
}

.btn-filters {
  background-color:  rgb(218, 218, 29);
  border: none;
  border-radius: 5px;
  height: 20px;
  cursor: pointer;
}

.div-filters-pesquisas {
  background-color:  rgba(218, 218, 29, 0.795);
  color: black;
  margin: 15px;
  padding: 5px;
  border-radius: 5px;
  width: 25%;
  margin-left: 37%;
}

.btn-filters-excluir {
  color: white;
  background-color:black;
  border: none;
  border-radius: 5px;
  height: 20px;
  cursor: pointer;
}